/* .post_section {
    border: #D5EDF6 solid 1.5px;
    border-radius: 7px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 2px;
    padding: 5px;
    height: auto;
    text-align: center;
} */

.postForm {
    display: flex;
    flex-direction: column;
    background-color: #2196f3;
    border: #D5EDF6 solid 5px;
    border-radius: 12px;
    color:  #FFFFFF;
    font-family: Shadows Into Light;
    font-size:xx-large;
    align-items: center;
    margin: 15px;
    padding: 7px;
}

.form-control-content {
    border-radius: 10px;
    margin-left: 10px;
    font-family: Rancho;
    font-size: x-large;
}

.post_comments {
    margin: 50px;
}

.new_comment {
    justify-content: center;

}

.create_post {
    margin-left: 10px;
}

.post_body {
    display: flex;
    background-color: #2196f3;
    border:  #D5EDF6 solid 5px;
    border-radius: 12px;
    color:  #FFFFFF;
    font-family: Shadows Into Light;
    font-size:larger;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    height: auto;
}

.post_section {
    display: flex;
    justify-content: center;
    border-radius: 7px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 2px;
    padding: 5px;
    height: auto;
    text-align: center;
}