.allergies {
    display: flex;
    flex-direction: column;
    background-color:#d5edf6 ;
    border:   #2196f3 solid 5px;
    border-radius: 12px;
    color:  #0f0e0e;
    font-family: Shadows Into Light;
    letter-spacing: 2px;
    font-size:larger;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.allergyHeader {
    display: flex;
    flex-direction: row;
    background: rgba(244, 212, 86, 0.875);
    align-items: center;
    justify-content:center;
    font-family: Shadows Into Light;
    margin: 20px;
    border-radius: 10px;
    font-size: 3rem;
    width: 300px;
    padding: 10px;
    letter-spacing: 5px;
    font-weight: bolder;
    color: hsl(0, 67%, 58%);
    text-shadow: 0 -1px 7px rgb(243, 239, 239), 0 -2px 10px hsl(0, 67%, 58%), 0 -10px 20px hsl(0, 37%, 89%), 0 -15px 40px hsl(0, 67%, 58%)
}

.create_allergy {
    margin-left: 10px;
}

.allergyForm {
    display: flex;
    flex-direction: column;
    background-color: #2196f3;
    border: #D5EDF6 solid 5px;
    border-radius: 12px;
    color:  #FFFFFF;
    font-family: Shadows Into Light;
    font-size:xx-large;
    align-items: center;
    margin: 15px;
    padding: 7px;
}

.form-control-content {
    border-radius: 10px;
    margin-left: 10px;
    font-family: Rancho;
    font-size: x-large;
}